@model UniLibraryMgmtSystem.Models.BOOK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BOOK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PUBLISHER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUBLISHER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK_SUBJECT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK_SUBJECT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK_CATEGORY.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK_CATEGORY.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
