@model IEnumerable<UniLibraryMgmtSystem.Models.BOOK>

@{
    ViewBag.Title = "Books";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PUBLISHER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_SUBJECT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_CATEGORY.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PUBLISHER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_SUBJECT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_CATEGORY.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
